.home-section{
background-color: #FEEAE9;

}
.button-color,.footer-color{

  background-color:#FF589B ;

}



.watch-color{

  background-color: #FF9C35 ; 

}

.shoe-color{


    background-color: #4289FF;

}


.bag-color{

   background-color:  #FF589B;

    
}
.show-button-color{
  background-color: black;
}




